.env.dev
docker-compose.dev.yml
docker-compose.override.yml
serviceAccountKey.json
.cursor/
.env



# Antigravity Safe Git Sync Ignore Rules
*.env
*.env.*
*.pem
*.sql
*.db
*.zip
.DS_Store
.dart_tool/
android/app/.cxx/
.firebase/
__pycache__/
vendor/
node_modules/
